@page
@model Vista.Pages.Login.AccesoDenegadoModel
@{
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/site.css" />
<div class="row containerTitulo">
    <div class="col-10 ">
        <h1 class="text-danger bold">HASTA ACÁ LLEGASTE: No tiene acceso a esta página</h1>
    </div>
    <div class="col-2 ">
        <a class="btn btnVolverVentana" href="/"><i class="fas fa-arrow-circle-left"></i></a>
    </div>
</div>

<div class="col-12 mt-4 mx-auto d-flex justify-content-center align-items-center containerImgDenagado">
    <img src="~/assets/acceso_denegado.png" alt="Prohibido">
</div>
